html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main{
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    margin-top: 5vh;
}
h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto';
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-shadow: black 2px 2px 5px;
}
h2{
    font-size: 2.5rem;
    margin-top: 1.2rem;
    margin-bottom: 3vh;
}
nav{
    margin-right: 5vw;
    font-size: 2.5rem;
    width: 40%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}
li{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-family: 'Roboto';
}
aside{
    font-size: 1.5rem;
    font-family: 'Roboto';
    width: 60%;
}
.float{
    margin-top: 2vh;
}
.active a{
    text-decoration: underline;
    color: orange;
}
.colorbox{
    width: 130px;
    height: 130px;
    background-color: #ffa500;
    transition: 0.5s;
    border-radius:20px;
}
.colorAside{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.colorelement{
    margin-right: 5vw;
    margin-top: 5vh;
}
.colorelement p{
    margin-top: 1.2vh;
    max-width: 10vw;
    margin-bottom: 2.5vh;
}
.colorelement:hover .colorbox{
    border-radius: 50px;
}
@font-face {
    font-family: 'Snes';
    src: url('fonts/snes-font(1)/Snes.ttf'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/snes-font(1)/Snes.ttf') format('truetype'), /* Safari, Android, iOS */     
}
h3{
    font-size: 2rem;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.indentImage{
    margin-top: 2vh;
}
.headBar{
    background: #CCC6BD;
    color: #D50814;
    font-family: Snes;
}
.headerHeading{
    font-size: 3rem;
    color: orange;
    font-family: Snes;
    letter-spacing: 1.5px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}
.h2-Heading{
    font-size: 2rem;
    color: orange;
    font-family: Roboto;
    letter-spacing: 1.5px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}
.h3-Heading{
    font-size: 1.5rem;
    color: orange;
    font-family: Roboto;
    letter-spacing: 1.5px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}
._p_text{
    font-family: 'Roboto';
    font-size: 1rem;
    min-width: 70px;
    color: black;
    word-break: break-word;
}
.pList{
    margin-bottom: 2vh;
}
._btn_big{
    background-color: orange;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.8rem;
    padding: 5px 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    max-width: 250px;
    width: fit-content;
}
._btn_big:hover{
    color: orange;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
._btn_medium{
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-size: 1rem;
    border-radius: 0.8rem;
    padding: 5px 10px;
    font-family: 'Roboto';
    text-transform: uppercase;
    max-width: 250px;
    width: fit-content;
}
._btn_medium:hover{
    color: orange;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}